* {
  margin: 0;
}
html {
  margin: 0;
  font-family: sans-serif;
  height: 100%;
  min-width: 600px;
  width: 100%;
}
body {
  margin: 0;
  height: 100%;
  width: 100%;
  min-width: 1226px;
  font: 14px/1.5 Helvetica Neue, Helvetica, Arial, Microsoft Yahei, Hiragino Sans GB, Heiti SC, WenQuanYi Micro Hei, sans-serif;
  overflow: scroll;
}
.main {
  width: 100%;
  background-color: #fff;
  position: relative;
}
.header {
  height: 40px;
  background-color: #333333;
  font-size: 10px;
  color: #b0b0b0;
  width: 100%;
  position: relative;
}
.header a {
  text-decoration: none;
  color: #b0b0b0;
  line-height: 40px;
  height: inherit;
  display: inline-block;
}
.header a:hover {
  color: #fff;
}
.header .sep {
  margin: 4px;
  color: #424242;
}
.header .container {
  position: relative;
  width: 1226px;
  margin: auto;
}
.header .container .topbar-nav {
  float: left;
  z-index: 1;
}
.header .container .topbar-nav .appcode {
  display: none;
}
.header .container .topbar-nav .topbar-download {
  position: relative;
}
.header .container .topbar-nav .topbar-download:hover .appcode {
  display: block;
  position: absolute;
  left: -40px;
  z-index: 9999;
  width: 125px;
  height: 150px;
  box-shadow: 0 3px 15px 0 #adadad;
  text-align: center;
  margin: auto;
  font-size: 14px;
  color: #333;
  line-height: 1;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background-color: #fff;
}
.header .container .topbar-nav .topbar-download:hover .appcode img {
  display: block;
}
.header .container .topbar-cart {
  float: right;
  margin-left: 10px;
  padding-left: 2em;
  padding-right: 2em;
  background-color: #424242;
  position: relative;
}
.header .container .topbar-cart > a > span {
  vertical-align: bottom;
}
.header .container .topbar-cart:hover {
  background-color: #fff;
  color: #ff6700;
  z-index: 999;
}
.header .container .topbar-cart:hover > a > span {
  color: #fd6600;
}
.header .container .topbar-cart:hover .cart-menu {
  height: 100px;
  box-shadow: 0 3px 15px 0 #adadad;
  background-color: #fff;
  text-align: center;
  line-height: 100px;
}
.header .container .topbar-cart .cart-menu {
  transition: 0.6s;
  position: absolute;
  top: 100%;
  right: 0;
  width: 320px;
  height: 0;
  overflow: hidden;
  text-align: center;
  line-height: 100px;
}
.header .container .topbar-info {
  float: right;
  padding-right: 20px;
}
.site-header {
  height: 100px;
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1226px;
  margin: auto;
}
.site-header .nav-list {
  display: flex;
  gap: 20px;
}
.site-header .nav-list:hover {
  color: #ff6700;
}
.site-header .nav-list:hover > .nav-item > .item-children > .container {
  height: 230px;
  z-index: 999;
}
.site-header .nav-list .nav-item {
  height: 100px;
  font-size: 16px;
}
.site-header .nav-list .nav-item .item-children .container {
  position: absolute;
  width: 100%;
  left: 0;
  xpadding-left: calc(50% - 1226px / 2);
  height: 0;
  overflow: hidden;
  transition: 0.6s;
  background-color: white;
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  z-index: 0;
}
.site-header .nav-list .nav-item .item-children .container .children-list {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 230px;
  gap: 40px;
}
.site-header .nav-list .nav-item .item-children .container .children-list .title {
  margin-top: -30px;
  font-size: 12px;
  text-align: center;
  line-height: 20px;
}
.site-header .nav-list .nav-item .item-children .container .children-list .price {
  line-height: 20px;
  text-align: center;
  color: #ff6700;
  font-size: 12px;
}
.site-header .nav-list .nav-item:hover > .item-children > .container {
  z-index: 9999;
}
.site-header .mi-logo:active {
  transform: scale(0.8);
}
.site-header .search {
  display: flex;
}
.site-header .search input {
  border: 1px solid #e0e0e0;
  border-right: 0;
  width: 243px;
  height: 50px;
  vertical-align: middle;
  box-sizing: border-box;
  outline: none;
}
.site-header .search input:focus {
  outline: none;
  border-color: #ff6700;
}
.site-header .search input:focus + button {
  border-color: #ff6700;
}
.site-header .search button {
  width: 50px;
  height: 50px;
  vertical-align: middle;
  border: 1px solid #e0e0e0;
  box-sizing: border-box;
}
.site-header .search button:hover {
  background-color: #ff6700;
  color: #fff;
}
.site-header .header-nav {
  left: 250px;
}
.site-header .header-nav a {
  text-decoration: none;
  color: #000;
  line-height: 100px;
  height: inherit;
  display: inline-block;
}
.site-header .header-nav ul {
  list-style: none;
  padding: 0;
}
.site-header .header-nav ul li {
  display: inline-block;
}
.home-hero {
  width: 1226px;
  margin: auto;
  xheight: 460px;
  display: flex;
  flex-wrap: wrap;
  background-color: #fff;
}
.home-hero .site-category {
  width: 235px;
  height: 460px;
  background-color: #85858b;
  color: #fff;
}
.home-hero .site-category > ul {
  list-style: none;
  padding-top: 20px;
  padding-left: 20px;
  height: 100%;
}
.home-hero .site-category > ul > li {
  height: 42px;
  padding-left: 10px;
  position: relative;
  line-height: 42px;
}
.home-hero .site-category > ul > li ul {
  display: none;
}
.home-hero .site-category > ul > li:hover ul {
  display: block;
  height: 100%;
  position: absolute;
  left: 100%;
  top: -20px;
  height: 460px;
  z-index: 9999;
  display: grid;
  grid-template-columns: 250px;
  grid-template-rows: repeat(6, 75px);
  grid-auto-columns: 250px;
  grid-auto-flow: column;
  box-shadow: 0 3px 15px 0 #adadad;
  font-size: 14px;
  background-color: #fff;
}
.home-hero .site-category > ul > li:hover ul li a {
  line-height: 75px;
  height: inherit;
  display: inline-block;
  text-decoration: none;
  color: black;
}
.home-hero .site-category > ul > li img,
.home-hero .site-category > ul > li span {
  vertical-align: middle;
}
.home-hero .site-category > ul > li a {
  line-height: 75px;
  height: inherit;
  display: inline-block;
  text-decoration: none;
  color: black;
}
.home-hero .site-category > ul > li a :hover {
  color: #ff6700;
}
.home-hero .site-category > ul > li::after {
  content: ">";
  float: right;
  padding-right: 10px;
}
.home-hero .slider {
  width: 991px;
  height: 460px;
  position: relative;
}
.home-hero .slider input {
  display: none;
}
.home-hero .slider .picture img {
  position: absolute;
  transition: 1s;
  width: 100%;
  height: 100%;
  opacity: 0;
}
.home-hero .slider .indicators {
  position: absolute;
  white-space: nowrap;
  width: 400px;
  left: auto;
  right: 30px;
  bottom: 20px;
  text-align: right;
  z-index: 9999;
}
.home-hero .slider .indicators label {
  display: inline-block;
  width: 6px;
  height: 6px;
  border: 2px solid #fff;
  border-color: hsla(0, 0%, 100%, 0.3);
  border-radius: 10px;
  overflow: hidden;
  background: rgba(0, 0, 0, 0.4);
  opacity: 1;
  cursor: pointer;
}
.home-hero .slider input:nth-child(1):checked ~ .indicators label:nth-child(1) {
  background: hsla(0, 0%, 100%, 0.4);
  border-color: rgba(0, 0, 0, 0.4);
}
.home-hero .slider input:nth-child(2):checked ~ .indicators label:nth-child(2) {
  background: hsla(0, 0%, 100%, 0.4);
  border-color: rgba(0, 0, 0, 0.4);
}
.home-hero .slider input:nth-child(3):checked ~ .indicators label:nth-child(3) {
  background: hsla(0, 0%, 100%, 0.4);
  border-color: rgba(0, 0, 0, 0.4);
}
.home-hero .slider input:nth-child(4):checked ~ .indicators label:nth-child(4) {
  background: hsla(0, 0%, 100%, 0.4);
  border-color: rgba(0, 0, 0, 0.4);
}
.home-hero .slider input:nth-child(1):checked ~ .picture img:nth-child(1) {
  opacity: 1;
}
.home-hero .slider input:nth-child(2):checked ~ .picture img:nth-child(2) {
  opacity: 1;
}
.home-hero .slider input:nth-child(3):checked ~ .picture img:nth-child(3) {
  opacity: 1;
}
.home-hero .slider input:nth-child(4):checked ~ .picture img:nth-child(4) {
  opacity: 1;
}
.home-hero .blocks {
  margin-top: 20px;
  width: 234px;
  height: 170px;
  display: grid;
  grid-template-columns: repeat(3, 78px);
  grid-template-rows: repeat(2, 85px);
  background-color: #5f5750;
  vertical-align: middle;
  align-items: center;
}
.home-hero .blocks > div {
  color: #fff;
  margin: auto;
}
.home-hero .whatsnew > ul {
  list-style: none;
  display: flex;
  margin-top: 20px;
  justify-content: space-between;
  padding: 0;
}
.home-hero .whatsnew > ul > li {
  transition: 1s;
  box-shadow: 0 0px 0px 0 #adadad;
  width: 316px;
  height: 170px;
  margin-left: 14px;
}
.home-hero .whatsnew > ul > li:hover {
  box-shadow: 0 3px 15px 0 #adadad;
}
.home-hero .banner {
  margin-top: 30px;
}
.display {
  width: 100%;
  background-color: #f5f5f5;
}
.display .miphone {
  padding-top: 30px;
  width: 1226px;
  margin: auto;
}
.display .miphone > span {
  float: left;
  line-height: 60px;
  font-size: 22px;
  font-weight: 200;
}
.display .miphone .cards {
  clear: both;
  display: flex;
  flex-flow: column wrap;
  height: 615px;
  gap: 14px;
  transition: 1s;
  padding: 0;
}
.display .miphone .cards .cards-item {
  width: 234px;
  height: 298px;
  background-color: #fff;
  vertical-align: middle;
  display: table-cell;
  text-align: center;
  box-shadow: 0 0px 0px rgba(0, 0, 0, 0.1);
  transition: 1s;
}
.display .miphone .cards .cards-item > a {
  height: inherit;
  display: block;
}
.display .miphone .cards .cards-item:first-child {
  height: 100%;
}
.display .miphone .cards .cards-item:hover {
  transform: translate(0, -2px);
  box-shadow: 0 3px 15px 0 #adadad;
}
.display .miphone .cards .cards-item img {
  width: 160px;
  height: 160px;
}
.display .miphone .cards .cards-item:first-child img {
  width: 234px;
  height: 615px;
}
.display .miphone2 {
  padding-top: 30px;
  width: 1226px;
  margin: auto;
}
.display .miphone2 > span {
  float: left;
  line-height: 60px;
  font-size: 22px;
  font-weight: 200;
}
.display .miphone2 .cards2 {
  clear: both;
  display: grid;
  grid-template-columns: repeat(5, 234px);
  grid-template-rows: repeat(2, 298px);
  gap: 15px;
  padding: 0;
}
.display .miphone2 .cards2 .cards-item {
  height: 100%;
  list-style: none;
  vertical-align: middle;
  text-align: center;
  background-color: #fff;
  box-shadow: 0 0px 0px rgba(0, 0, 0, 0.1);
  transition: 1s;
}
.display .miphone2 .cards2 .cards-item > a {
  height: inherit;
  display: block;
}
.display .miphone2 .cards2 .cards-item img {
  width: 160px;
  height: 160px;
}
.display .miphone2 .cards2 .cards-item:first-child img {
  width: 234px;
  height: 615px;
}
.display .miphone2 .cards2 .cards-item:first-child {
  grid-row-end: span 2;
}
.display .miphone2 .cards2 .cards-item:hover {
  transform: translate(0, -2px);
  box-shadow: 0 3px 15px 0 #adadad;
}
.display .home-devices {
  padding-top: 30px;
  width: 1226px;
  height: 674px;
  margin: auto;
}
.display .home-devices > span {
  float: left;
  line-height: 60px;
  font-size: 22px;
  font-weight: 200;
}
.display .home-devices .hd-container {
  width: 100%;
  height: 614px;
  display: flex;
}
.display .home-devices .hd-container .fixed {
  width: 234px;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 300px 300px;
  gap: 14px;
}
.display .home-devices .hd-container .fixed > img {
  transition: 1s ease;
}
.display .home-devices .hd-container .fixed > img:hover {
  transform: translate(0, -2px);
  box-shadow: 0 3px 15px 0 #adadad;
}
.display .home-devices .hd-container .devices-items {
  margin-left: 14px;
  height: 100%;
  width: 0;
  flex: 1;
  position: relative;
}
.display .home-devices .hd-container .devices-items .page {
  list-style: none;
  position: absolute;
  display: grid;
  width: 100%;
  height: 100%;
  grid-template-columns: repeat(4, 234px);
  grid-template-rows: repeat(4, 143px);
  gap: 14px;
  visibility: hidden;
  transition: 0s, 9999s;
  padding: 0;
}
.display .home-devices .hd-container .devices-items .page > .page-item {
  height: 100%;
  background-color: #fff;
  text-align: center;
  transition: transform 1s ease, box-shadow 1s ease;
}
.display .home-devices .hd-container .devices-items .page > .page-item:hover {
  transform: translate(0, -2px);
  box-shadow: 0 3px 15px 0 #adadad;
}
.display .home-devices .hd-container .devices-items .page > .page-item:nth-child(-n+7) {
  grid-row: span 2;
}
.display .home-devices .hd-container .devices-items .page > .page-item:nth-child(-n+7) a {
  height: inherit;
  display: block;
  text-decoration: none;
}
.display .home-devices .hd-container .devices-items .page > .page-item:nth-child(-n+7) a > .title {
  color: #000;
  text-align: center;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  margin: 0 10px 2px;
  font-weight: 400;
}
.display .home-devices .hd-container .devices-items .page > .page-item:nth-child(-n+7) a > p {
  color: #b0b0b0;
  text-align: center;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  margin: 0 10px 2px;
}
.display .home-devices .hd-container .devices-items .page > .page-item:nth-child(-n+7) a > p + p {
  color: #ff6700;
  text-align: center;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  margin: 0 10px 2px;
}
.display .home-devices .hd-container .devices-items .page > .page-item:nth-child(-n+7) a > p + p > del > span {
  color: #b0b0b0;
}
.display .home-devices .hd-container .devices-items .page > .page-item:nth-child(-n+7) a > img {
  height: 160px;
  width: 160px;
}
.display .home-devices .hd-container .devices-items .page > .page-item:nth-child(8) > a {
  text-decoration: none;
  margin: auto;
  height: inherit;
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  flex-wrap: wrap;
  text-align: left;
  justify-content: center;
}
.display .home-devices .hd-container .devices-items .page > .page-item:nth-child(8) > a > .title {
  width: 100px;
  color: #000;
  font-weight: 400;
  white-space: wrap;
  margin: 0 20px 2px;
}
.display .home-devices .hd-container .devices-items .page > .page-item:nth-child(8) > a > .price {
  margin: 0 20px 2px;
  color: #ff6700;
}
.display .home-devices .hd-container .devices-items .page > .page-item:nth-child(8) > a > img {
  height: 80px;
  width: 80px;
}
.display .home-devices .hd-container .devices-items .page > .page-item:last-child {
  display: flex;
  font-size: 18px;
  color: #333;
  justify-content: center;
  align-items: center;
}
.display .home-devices .hd-container .devices-items .page > .page-item:last-child > div {
  height: 45px;
  padding: 0.5em;
}
.display .home-devices .hd-container .devices-items .page > .page-item:last-child > div > span {
  display: block;
  text-align: left;
}
.display .home-devices .hd-container .devices-items .page > .page-item:last-child > div > span:nth-child(2) {
  font-size: 12px;
}
.display .home-devices .hd-container .devices-items .page > .page-item:last-child > div > span::before {
  line-height: 45px;
  color: #ff6700;
}
.display .home-devices .hd-container .devices-items .page:first-child {
  visibility: visible;
}
.display .home-devices .hd-container .devices-items .page:hover {
  visibility: visible;
  transition: none;
}
.display .home-devices .category {
  float: right;
  display: flex;
  align-content: end;
  flex: 1;
  padding-top: 20px;
}
.display .home-devices .category > span:first-child {
  color: #ff6700;
}
.display .home-devices .category:hover > span {
  color: #000;
  transition: none;
}
.display .home-devices .category > span {
  color: #000;
  transition: 0s, 9999s;
  margin-left: 10px;
  margin-right: 10px;
  font-size: 16px;
}
.display .home-devices .category > span:hover {
  color: #ff6700;
  transition: none;
  cursor: pointer;
  border-bottom: 2px solid #ff6700;
}
.display .home-devices .category:has(span:nth-child(1):hover) ~ .hd-container > .devices-items > .page:nth-child(1) {
  visibility: visible;
  transition: none;
}
.display .home-devices .category:has(span:nth-child(1):hover) ~ .hd-container > .devices-items > .page:not(:nth-child(1)) {
  visibility: hidden;
  transition: none;
}
.display .home-devices .category:has(span:nth-child(2):hover) ~ .hd-container > .devices-items > .page:nth-child(2) {
  visibility: visible;
  transition: none;
}
.display .home-devices .category:has(span:nth-child(2):hover) ~ .hd-container > .devices-items > .page:not(:nth-child(2)) {
  visibility: hidden;
  transition: none;
}
.display .home-devices .category:has(span:nth-child(3):hover) ~ .hd-container > .devices-items > .page:nth-child(3) {
  visibility: visible;
  transition: none;
}
.display .home-devices .category:has(span:nth-child(3):hover) ~ .hd-container > .devices-items > .page:not(:nth-child(3)) {
  visibility: hidden;
  transition: none;
}
.display .home-devices .category:has(span:nth-child(4):hover) ~ .hd-container > .devices-items > .page:nth-child(4) {
  visibility: visible;
  transition: none;
}
.display .home-devices .category:has(span:nth-child(4):hover) ~ .hd-container > .devices-items > .page:not(:nth-child(4)) {
  visibility: hidden;
  transition: none;
}
.sticky-side-tools {
  z-index: 9999;
  width: 84px;
  position: fixed;
  right: 0;
  bottom: 50px;
  background-color: #fff;
}
.sticky-side-tools .tool-item {
  height: 92px;
  width: 84px;
  text-align: center;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid #e0e0e0;
}
.sticky-side-tools .tool-item:hover {
  color: #ff6700;
}
.sticky-side-tools .tool-item:last-child {
  border: none;
}
@media (max-width: 1800px) {
  .sticky-side-tools {
    left: 50%;
    right: auto;
    width: 20px;
    margin-left: calc(1226px / 2);
    width: 27px;
    height: 205px;
  }
  .sticky-side-tools .tool-item {
    height: 42px;
    width: 27px;
    text-align: center;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
  }
  .sticky-side-tools .tool-item > span {
    font-size: smaller;
  }
  .sticky-side-tools .tool-item > span + span {
    display: none;
  }
}
.home-banner {
  width: 1226px;
  margin: auto;
}
.home-banner img {
  width: 1226px;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 10px;
}
.last {
  width: 100%;
  background-color: #fff;
  height: 450px;
}
.last .site-footer {
  width: 1226px;
  margin: auto;
  height: 80px;
}
.last .site-footer .footer-service {
  display: flex;
  height: 80px;
  justify-content: space-around;
  align-items: center;
  border-bottom: 1px solid #e0e0e0;
  font-size: 16px;
  line-height: 25px;
  color: #616161;
}
.last .site-footer .footer-service > div:hover {
  color: #ff6700;
}
.last .site-footer .footer-service span {
  margin: 0 0.3em;
  color: #e0e0e0;
}
.last .site-footer .footer-itmes {
  display: flex;
  justify-content: space-around;
  align-items: start;
  text-align: start;
}
.last .site-footer .footer-itmes .itmes-child dt {
  margin: 20px 0 20px 0;
  font-size: 14px;
  line-height: 1.25;
  color: #424242;
}
.last .site-footer .footer-itmes .itmes-child dd {
  margin-top: 10px;
  font-size: 12px;
  color: #757575;
}
.last .site-footer .footer-itmes .itmes-child dd:hover {
  color: #f25807;
}
.last .site-footer .footer-itmes .tel {
  width: 200px;
  height: 180px;
  display: flex;
  flex-wrap: wrap;
  flex-shrink: 0;
  justify-content: center;
  align-content: center;
  text-align: center;
}
.last .site-footer .footer-itmes .tel > * {
  display: block;
}
.last .site-footer .footer-itmes .tel .num {
  font-size: 22px;
  line-height: 1;
  color: #ff6700;
  width: 200px;
  padding: 10px;
}
.last .site-footer .footer-itmes .tel span {
  width: 380px;
  padding: 10px;
}
.last .site-footer .footer-itmes .tel .customer {
  width: 118px;
  height: 28px;
  border: solid #ff6700;
  background: #fff;
  color: #ff6700;
}
.last .site-footer .footer-itmes .tel .customer:hover {
  background-color: #f25807;
  color: #fff;
}
.bottom {
  width: 100%;
  height: 260px;
  background-color: #fafafa;
}
.bottom .bottom-items {
  width: 1226px;
  margin: auto;
  padding-top: 30px;
}
.bottom .bottom-items img {
  float: left;
}
.bottom .bottom-items .info-text1 {
  left: 76px;
  float: left;
  width: 1000px;
  margin-left: 20px;
  top: 20px;
}
.bottom .bottom-items .info-text1 > ul {
  font-size: 12px;
  line-height: 18px;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 2px;
  color: #757575;
}
.bottom .bottom-items .info-text1 > ul span {
  color: #b0b0b0;
}
.bottom .bottom-items .info-text2 {
  margin-left: 20px;
  font-size: 12px;
  color: #b0b0b0;
  float: left;
}
.bottom .bottom-items .slogan {
  margin: 60px auto 0;
  clear: both;
  width: 100%;
  height: 100px;
  background: url(https://cdn.cnbj1.fds.api.mi-img.com/staticsfile/global/slogan2020.png) no-repeat center center;
}
.bottom .bottom-items .slogan .text {
  display: block;
  text-align: left;
  text-indent: -9999em;
  overflow: hidden;
}
